<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/main.css">
  </head>
  <body>
    <div class="header">
      <div class="title">なんちゃらアイドル</div>
    </div>
    <div class="menu">
      <% if current %>
      <div>今後の予定</div>
      <div><a href="./past.html">これまでの予定</a></div>
      <% else %>
      <div><a href="./index.html">今後の予定</a></div>
      <div>これまでの予定</div>
      <% end %>
    </div>
    <div class="main">
    <% schedules.each do |schedule| %>
      <div class="item">
        <div class="title">
          <span class="day"><%= schedule['date'].strftime('%m/%d') %></span>
          <%= schedule['title'] %>
        </div>
        <pre><%= schedule['content'] %>
        </pre>
      </div>
    <% end %>
    <div>
  <body>
</html>
